<!--Footer-->
<footer class="page-footer elegant-color center-on-small-only fixed-bottom">
   

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://www.facebook.com/wordsamongfriends/" class="px-3" mdbTooltip="Facebook Page" placement="top"><i class="fa fa-facebook fa-2x"> </i></a>
		<a href="mailto:wordsamongfriends@yahoo.com" class="px-3" mdbTooltip="Email" placement="top"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
		<a href="https://www.instagram.com/bry_costello/?hl=en" class="px-3" mdbTooltip="Instagram" placement="top"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Copyright: <a href="https://wordsamongfriends.com/">wordsamongfriends.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
        