<div class="myInfoHead"></div>
<div class="container myInfoContainter">
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col-md-4 myInfoCol">
			<img src="assets/bud.jpg" alt=" " class="myInfo">
		</div>
	   	<div class="col-md-8">
	   		<h1>About</h1>
	   		<hr class="my-2">
	   		<p class="lead">I create images using hundreds or thousands of words pertaining to the image. Music groups are usually lyrics, movie images - scripts, famous people - bios</p>
			<hr class="my-2">
			<a href="https://www.instagram.com/bry_costello/?hl=en" class="px-3" mdbTooltip="Instagram" placement="top"><i class="fa fa-instagram fa-2x iconClass" aria-hidden="true"></i>&nbsp;bry_costello</a> 
			<hr class="my-2">
			<a href="mailto:wordsamongfriends@yahoo.com" class="px-3" mdbTooltip="Email" placement="top"><i class="fa fa-envelope fa-2x iconClass" aria-hidden="true"></i>&nbsp;wordsamongfriends@yahoo.com</a>
	   	</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			
		</div>
	</div>                                    
</div>
