<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['art']" [routerLinkActive]="['is-active']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['info']">Info</a>
            </li>
        </ul>

      <!--   <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form> -->
    </links>

</mdb-navbar>
<div>
	<img src="assets/path21.png" alt="" class="logo fixed-top"/>
</div>
