<br>
<div class="container phoneClass">
	
			<button class="btn btn-lg btn-block elegant-color movies">Movies</button>
		
			<button class="btn btn-lg btn-block elegant-color music">Music</button>
		
	
			<button class="btn btn-lg btn-block elegant-color people">People</button>
		
			<button class="btn btn-lg btn-block elegant-color sports">Sports</button>
		
</div>
<div class="container screenClass">
 	<div class="row">
		<div class="col-md-6 cntr">
			<h2>Movies</h2>
		</div>
		<div class="col-md-6 cntr">
			<h2>Music</h2>
		</div>
	</div>
	<div class="row">
		<!-- Movies -->
		
		<div class="col-md-6 img-wrapper">
			<a href="assets/Movies/AClockworkOrangeFullWM.jpg" data-lightbox="movies" data-title="A Clockwork Orange">
			    <img class="ui bordered small movies1" src="assets/Movies.png">
			</a>
			<a href="assets/Movies/BeautyBeastFullWM.jpg" data-lightbox="movies" data-title="Beauty and the Beast"></a>
			<a href="assets/Movies/FearLoathingFullWM.jpg" data-lightbox="movies" data-title="Fear Loathing"></a>
			<a href="assets/Movies/GoodfellasFullWM.jpg" data-lightbox="movies" data-title="Good Fellos"></a>
			<a href="assets/Movies/PulpFictionFullWM.jpg" data-lightbox="movies" data-title="Pulp Fiction"></a>
			<a href="assets/Movies/VVendettaFullWM.jpg" data-lightbox="movies" data-title="V for Vendetta"></a>
		</div>
	
	
		<!-- Music -->
		<div class="col-md-6 img-wrapper">
			<a href="assets/music/AbbeyRoadFullWM.jpg" data-lightbox="music" data-title="Abbey Road">
			    <img class="ui bordered small music1" src="assets/Music.png">
			</a>
			<a href="assets/music/DirtyHeadsFullWM.jpg" data-lightbox="music" data-title="Dirty Heads"></a>
			<a href="assets/music/BobDylanFullWM.jpg" data-lightbox="music" data-title="Bob Dylan"></a>
			<a href="assets/music/GLove1FullWM.jpg" data-lightbox="music" data-title="G-Love"></a>
			<a href="assets/music/GratefulDeadFullWM.jpg" data-lightbox="music" data-title="Grateful Dead"></a>
			<a href="assets/music/GreenDayFullWM.jpg" data-lightbox="music" data-title="Green Day"></a>
			<a href="assets/music/NirvanaFullWM.jpg" data-lightbox="music" data-title="Nirvana"></a>
			<a href="assets/music/NotoriousBIGFullWM.jpg" data-lightbox="music" data-title="Notorious BIG"></a>
			<a href="assets/music/PinkFloydFullWM.jpg" data-lightbox="music" data-title="Pink Floyd"></a>
			<a href="assets/music/SlightlyStoopidFullWM.jpg" data-lightbox="music" data-title="Slightly Stoopid"></a>
			<a href="assets/music/SOJAFullWM.jpg" data-lightbox="music" data-title="SOJA"></a>
			<a href="assets/music/WuTangFullWM.jpg" data-lightbox="music" data-title="Wu Tang"></a>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-md-6 cntr">
			<h2>People</h2>
		</div>
		<div class="col-md-6 cntr">
			<h2>Sports</h2>
		</div>
	</div>
	<div class="row">
		<!-- People -->
		<div class="col-md-6 img-wrapper">
			<a href="assets/people/AudreyHepburnFullWM.jpg" data-lightbox="people" data-title="Audrey Hepburn">
			    <img class="ui bordered small people1" src="assets/People.png">
			</a>
			<a href="assets/people/BillMurrayFullWM.jpg" data-lightbox="people" data-title="Bill Murray"></a>
			<a href="assets/people/EdgarAllanPoeFullWM.jpg" data-lightbox="people" data-title="Edgar Allan Poe"></a>
			<a href="assets/people/EinsteinFullWM.jpg" data-lightbox="people" data-title="Einstein"></a>
			<a href="assets/people/EvelKnievelFullWM.jpg" data-lightbox="people" data-title="Evel Knievel"></a>
			<a href="assets/people/MuhammadAliFullWM.jpg" data-lightbox="people" data-title="Muhammad Ali"></a>
			<a href="assets/people/SalvadorDaliFullWM.jpg" data-lightbox="people" data-title="Salvador Dali"></a>
			<a href="assets/people/SupermanFullWM.jpg" data-lightbox="people" data-title="Superman"></a>
		</div>

		<!-- Sports -->
		<div class="col-md-6 img-wrapper">
			<a href="assets/sports/AlexOvechkinFull.jpg" data-lightbox="sports" data-title="Alex Ovenchkin">
			    <img class="ui bordered small sports1" src="assets/Sports.png">
			</a>
			<a href="assets/sports/BaltimoreOriolesFullWM.jpg" data-lightbox="sports" data-title="Baltimore Orioles"></a>
			<a href="assets/sports/BaltimoreRavensFullWM.jpg" data-lightbox="sports" data-title="Baltimore Ravens"></a>
			<a href="assets/sports/NewYorkRangersFullWM.jpg" data-lightbox="sports" data-title="New York Rangers"></a>
			<a href="assets/sports/PennStateFullWM.jpg" data-lightbox="sports" data-title="Penn State"></a>
			<a href="assets/sports/PeytonManningFullWM.jpg" data-lightbox="sports" data-title="Peyton Manning"></a>
			<a href="assets/sports/RayLewisFullWM.jpg" data-lightbox="sports" data-title="Ray Lewis"></a>
			<a href="assets/sports/WashingtonCapitalsWM.jpg" data-lightbox="sports" data-title="Washington Capitals"></a>
			<a href="assets/sports/WashingtonRedskinsWM.jpg" data-lightbox="sports" data-title="Washington Redskins"></a>
			<a href="assets/sports/PittsburghSteelersFullWM.jpg" data-lightbox="sports" data-title="Pittsburgh Steelers"></a>
		</div>
	</div>
</div>